.env
env
myenv
firebase_key.json
db.sqlite3
/neural_budget/__pycache__
/neural_budget/migrations/__pycache__/
/home/__pycache__
/home/migrations/__pycache__/
database_schema_recommendations.md