.env
env
myenv
venv
firebase_key.json
home/static/home/js/auth.js
home/static/home/js/app.js
home/static/home/js/firebase-config.js
db.sqlite3
/neural_budget/__pycache__
/neural_budget/migrations/__pycache__/
/home/__pycache__
/home/migrations/__pycache__/