{% extends 'core/base.html' %}
{% load static %}

{% block title %}Transaction History{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'transactions/css/transaction_history.css' %}" />
    <style>
      .incomeTable tbody {
        display: table-row-group !important;
      }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'transactions/js/transaction_history.js' %}"></script>
{% endblock %}

{% block content %}
<section class="track-income">
    <h2>Transaction History</h2>
    <table class="incomeTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="LoadMore">Load More +5 ..</button>
</section>
{% endblock %}
